body {
  font-family: "Oswald", sans-serif;
  background-color: #155e5c;
  color: white;
  min-height: 100vh;
  touch-action: manipulation; /* disable double click zoom in */
}

#todoapp {
  /* margin: 3rem auto; */
  /* background: #e76c6c; */
  /* margin: 2rem 0 4rem; */
  padding: 2rem;
  padding-top: 0;
  position: relative;
  border-radius: 10px;
  text-align: center;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1); */
}

#App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
}

#pomodoro-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#pomodoro-panel,
#todoapp {
  min-width: 30rem;
  margin-top: 2rem;
  /* padding-left: 3rem;
  padding-right: 3rem; */
  max-height: 100vh;
}

#pomodoro-panel > * {
  max-width: 32rem;
}

h1 {
  font-size: 3.6rem;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

*:focus {
  outline: 3px dashed white;
  outline-offset: 0;
}

#root {
  width: 100%;
  /* height: 80%; */
  /* text-align: center; */
}

p {
  font-family: "Orbitron", sans-serif;
  text-align: center;
}

button {
  background-color: white;
  box-shadow: 2px 2px black;
  text-shadow: none;
  border: none;
  outline: none;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  padding-bottom: 1.5px;
}

button:active {
  text-shadow: none;
  box-shadow: none;
  transform: translateY(4px);
}

button:hover {
  background-color: #cacaca;
  cursor: pointer;
}

.btn-level {
  color: white;
  display: inline-block;
  text-shadow: 2px 2px black;
  background-color: transparent;
  box-shadow: none;
}

.btn-level:hover {
  color: #cacaca;
  background-color: transparent;
}

#language-btn {
  width: 8rem;
  /* color: #155e5c; */
  font-size: 1.4rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

#language-btn:hover {
  background-color: #cacaca;
}

.btn.toggle-btn[aria-pressed="true"] {
  color: white;
  /* text-decoration: underline; */
  background-color: rgba(192, 192, 192, 0.356);

  /* border-color: white; */
}

#display-panel {
  margin-bottom: 1rem;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 2px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
}

.progress__filled {
  width: 50%;
  background: white;
  flex: 0;
  /* change to start with 0% */
  flex-basis: 100%;
}

.btn.toggle-btn {
  color: white;
  background-color: initial;
  box-shadow: initial;
  /* border: 2px solid #cacaca; */
}

#defaultBtns-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#panels-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: white solid 3px;
  box-shadow: 5px 5px black; */
  background-color: rgba(192, 192, 192, 0.205);
  border-radius: 30px;
  margin: 1rem auto;
  text-align: center;
  width: 26rem;
  padding: 1rem 2rem;
}

#pomodoro-heading > * {
  font-size: 1.8rem;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

#timer-label {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  margin: 0 0;
}

#time-left {
  font-size: 6rem;
  margin: 1rem auto;
}

#break-length,
#work-length {
  width: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 900;
  pointer-events: none;
  text-shadow: none;
}

/* #break-label,
#work-label {
  font-family: "Lalezar", cursive;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
} */

#default-break,
#default-work {
  width: 9rem;
  font-size: 1.5rem;
  /* color: #155e5c; */
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn-group > * {
  flex: 1 1 49%;
  /* margin: 0 1rem; */
  /* max-width: 15rem; */
}

.btn-group > * + * {
  margin-left: 0.5rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#set-timer-btn {
  background-color: initial;
  box-shadow: initial;
  color: white;
  text-shadow: 2px 2px black;
}
#set-timer-btn:hover {
  color: #cacaca;
}

/* Modal Content/Box */
.modal-content {
  background-color: white;
  margin: 25vh auto;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
  max-width: 30rem;
  color: #155e5c;
}

#timer-form > fieldset {
  /* display: flex;
  justify-content: center; */
  margin: 1rem auto;
}

#timer-form > fieldset > label {
  font-size: 1.2rem;
  display: inline-block;
  width: 3.6rem;
}

#new-work-length,
#new-break-length {
  font-family: "Oswald", sans-serif;
  background-color: transparent;
  padding: 0.5rem;
  padding-top: 0.2rem;
  border: 3px solid #155e5c;
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #155e5c;
  caret-color: #155e5c;
  margin-left: 0.5rem;
}

#new-work-length:focus,
#new-break-length:focus,
#timer-form-btn-group > *:focus {
  outline: 3px dashed #155e5c;
  outline-offset: 0;
}

#timer-form-btn-group {
  text-align: right;
}

.timer-form-btns {
  box-shadow: initial;
  color: #155e5c;
}

@media (max-width: 967px) {
  /* #display-panel {
    width: 40vmax;
    height: 28vmax;
  } */

  h1 {
    font-size: 9.5vmin;
  }

  #timer-label {
    font-size: 6vmin;
  }

  #time-left {
    font-size: 5rem;
  }

  #todoapp {
    margin-top: 5rem;
  }
}

@media (max-width: 800px) {
  #pomodoro-panel {
    margin-top: 0;
    height: 100vh;
    justify-content: center;
  }
  #todoapp,
  #pomodoro-panel {
    margin-top: 2rem;
  }
}

@media (max-width: 570px) {
  html {
    font-size: 82%;
  }

  #todoapp {
    min-height: 80vh;
    margin-top: 0;
  }

  #panels-wrapper {
    width: 20rem;
  }

  #time-left {
    font-size: 5rem;
  }

  #timer-label {
    font-size: 8vmin;
  }
}

@media (max-width: 466px) {
  html {
    font-size: 80%;
  }

  .filters > * + * {
    margin-left: 0.1rem;
  }
  #todoapp {
    min-width: 86%;
  }
  #language-btn {
    width: 10rem;
  }
}
