body {
    font-family: 'Lalezar', cursive;
    background-color: rgb(53, 160, 155);
    color: ghostwhite;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: manipulation; /* disable double click zoom in */
}

#language-btn {
    width: 7rem;
    background-color: whitesmoke;
    color: rgb(53, 160, 155);
    font-family: 'Lalezar', cursive;
    border-radius: 10px;
    font-size: 1.4rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0 0;
    box-shadow: 2px 2px black;
    text-shadow: none;
}

#language-btn:hover {
    background-color: #cacaca;
}

h1 {
    font-size: 5vmax;
    margin-block-start: 0;
    margin-block-end: 0;
}

#root {
    width: 100%;
    /* height: 80%; */
    text-align: center;
}

#control-panels-group {
    display: flex;
    justify-content: space-around;
}

#display-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 5px whitesmoke;
    width: 30vmax;
    height: 30vmax;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1em;
}

button {
    color: ghostwhite;
    background-color: transparent;
    border: none;
    outline: none;
    text-shadow: 2px 2px black;
}

button:hover {
    color: #cacaca;
}

button:active {
    color: #cacaca;
    text-shadow: none;
    box-shadow: none;
    transform: translateY(4px);
}

.btn-level {
    display: inline-block;
    
}

#timer-label {
    font-size: 4vmax;
    margin: 0 0;
}

p {
    font-family: 'Orbitron', sans-serif;
}

#time-left {
    font-size: 7vmax;
    margin-block-start: 0;
    margin-block-end: 0.26em;
}

#break-length, #session-length {
    width: 4rem;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 2rem;
    font-weight: 900;
}

#break-label, #session-label {
    font-size: 2rem;
    margin-block-start: 0.5rem;
    margin-block-end: 0;
}

#default-break, #default-session {
    width: 10rem;
    background-color: whitesmoke;
    color: rgb(53, 160, 155);
    font-family: 'Lalezar', cursive;
    border-radius: 10px;
    font-size: 2rem;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0 0;
    box-shadow: 2px 2px black;
    text-shadow: none;
}

#default-break:hover, #default-session:hover {
    background-color: #cacaca;
}

#default-break:active, #default-session:active {
    background-color: #cacaca;
    box-shadow: none;
}

@media (max-width: 900px) {
    html {
        font-size: 90%;
    }
}


@media (max-width: 900px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 70%;
    }
    #display-panel {
        width: 60vmin;
        height: 60vmin;
    }
    h1 {
        font-size: 10vmin;
    }
    #timer-label {
        font-size: 8vmin;
    }
    #time-left {
        font-size: 14vmin;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 80%;
    }
    #display-panel {
        width: 75vmin;
        height: 75vmin;
    }
    h1 {
        font-size: 10vmin;
    }
    #timer-label {
        font-size: 9vmin;
    }
    #time-left {
        font-size: 16vmin;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 60%;
    }
}